@import 'tailwindcss';

@theme inline {
  --breakpoint-custom-md: 59rem;
  --color-green-brutalist: #008857;
  --color-neon: #00e593;
  --breakpoint-custom-lg: 68rem;
  --breakpoint-custom-md: 54rem;
  --breakpoint-custom-sm: 28rem;
}

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --font-consolas: 'Consolas', 'Monaco', 'Courier New', monospace;
  }

  /* Clase personalizada para Consolas */
  .font-consolas {
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-style: normal;
    font-weight: 400;
  }

  /* Clase personalizada para hover con color brutalist */
  .hover-green-brutalist:hover {
    color: var(--color-green-brutalist);
  }
}
